{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Пароль не подходит, попробуйте еще раз.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>У вас нет доступа к этой странице</p>
    {% else %}
      <p>Пожалуйста, войдите:</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>Имя пользователя</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>Пароль</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
      <button type="submit" class="btn btn-primary" >Войти</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
    <p>Впервые тут? <a href="{% url 'signup' %}">зарегистрируйтесь</a> </p>

{% endblock %}